<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.tongji.queryserver.mapper.ActorActorMapper">
  <resultMap id="BaseResultMap" type="edu.tongji.queryserver.entity.ActorActor">
    <result column="MOVIE_ID" jdbcType="VARCHAR" property="movieId" />
    <result column="LEFT_PERSON_ID" jdbcType="BINARY" property="leftPersonId" />
    <result column="RIGHT_PERSON_ID" jdbcType="BINARY" property="rightPersonId" />
  </resultMap>
  <insert id="insert" parameterType="edu.tongji.queryserver.entity.ActorActor">
    insert into ActorActor (MOVIE_ID, LEFT_PERSON_ID, RIGHT_PERSON_ID
      )
    values (#{movieId,jdbcType=VARCHAR}, #{leftPersonId,jdbcType=BINARY}, #{rightPersonId,jdbcType=BINARY}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select MOVIE_ID, LEFT_PERSON_ID, RIGHT_PERSON_ID
    from ActorActor
  </select>
</mapper>