<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.tongji.queryserver.mapper.DirectorActorMapper">
  <resultMap id="BaseResultMap" type="edu.tongji.queryserver.entity.DirectorActor">
    <result column="MOVIE_ID" jdbcType="VARCHAR" property="movieId" />
    <result column="ACTOR_ID" jdbcType="BINARY" property="actorId" />
    <result column="DIRECTOR_ID" jdbcType="BINARY" property="directorId" />
  </resultMap>
  <insert id="insert" parameterType="edu.tongji.queryserver.entity.DirectorActor">
    insert into DirectorActor (MOVIE_ID, ACTOR_ID, DIRECTOR_ID
      )
    values (#{movieId,jdbcType=VARCHAR}, #{actorId,jdbcType=BINARY}, #{directorId,jdbcType=BINARY}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select MOVIE_ID, ACTOR_ID, DIRECTOR_ID
    from DirectorActor
  </select>
</mapper>