<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.tongji.queryserver.mapper.DirectorMapper">
  <resultMap id="BaseResultMap" type="edu.tongji.queryserver.entity.Director">
    <id column="director_uuid" jdbcType="BINARY" property="directorUuid" />
    <result column="director_name" jdbcType="VARCHAR" property="directorName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="byte[]">
    delete from Director
    where director_uuid = #{directorUuid,jdbcType=BINARY}
  </delete>
  <insert id="insert" parameterType="edu.tongji.queryserver.entity.Director">
    <selectKey keyProperty="directorUuid" order="AFTER" resultType="byte[]">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into Director (director_name)
    values (#{directorName,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="edu.tongji.queryserver.entity.Director">
    update Director
    set director_name = #{directorName,jdbcType=VARCHAR}
    where director_uuid = #{directorUuid,jdbcType=BINARY}
  </update>
  <select id="selectByPrimaryKey" parameterType="byte[]" resultMap="BaseResultMap">
    select director_uuid, director_name
    from Director
    where director_uuid = #{directorUuid,jdbcType=BINARY}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select director_uuid, director_name
    from Director
  </select>
</mapper>