<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.tongji.queryserver.mapper.DirectMapper">
  <resultMap id="BaseResultMap" type="edu.tongji.queryserver.entity.Direct">
    <id column="director_uuid" jdbcType="BINARY" property="directorUuid" />
    <id column="movie_id" jdbcType="VARCHAR" property="movieId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from Direct
    where director_uuid = #{directorUuid,jdbcType=BINARY}
      and movie_id = #{movieId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="edu.tongji.queryserver.entity.Direct">
    insert into Direct (director_uuid, movie_id)
    values (#{directorUuid,jdbcType=BINARY}, #{movieId,jdbcType=VARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select director_uuid, movie_id
    from Direct
  </select>
</mapper>