<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.tongji.queryserver.mapper.ActMapper">
  <resultMap id="BaseResultMap" type="edu.tongji.queryserver.entity.Act">
    <id column="actor_uuid" jdbcType="BINARY" property="actorUuid" />
    <id column="movie_id" jdbcType="VARCHAR" property="movieId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from Act
    where actor_uuid = #{actorUuid,jdbcType=BINARY}
      and movie_id = #{movieId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="edu.tongji.queryserver.entity.Act">
    insert into Act (actor_uuid, movie_id)
    values (#{actorUuid,jdbcType=BINARY}, #{movieId,jdbcType=VARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select actor_uuid, movie_id
    from Act
  </select>
</mapper>