<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.tongji.queryserver.mapper.ReviewMapper">
  <resultMap id="BaseResultMap" type="edu.tongji.queryserver.entity.Review">
    <id column="review_uuid" jdbcType="BINARY" property="reviewUuid" />
    <result column="movie_id" jdbcType="VARCHAR" property="movieId" />
    <result column="helpfulness" jdbcType="VARCHAR" property="helpfulness" />
    <result column="profile_name" jdbcType="VARCHAR" property="profileName" />
    <result column="score" jdbcType="REAL" property="score" />
    <result column="time" jdbcType="BIGINT" property="time" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="summary" jdbcType="LONGVARCHAR" property="summary" />
    <result column="text" jdbcType="LONGVARCHAR" property="text" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="byte[]">
    delete from Review
    where review_uuid = #{reviewUuid,jdbcType=BINARY}
  </delete>
  <insert id="insert" parameterType="edu.tongji.queryserver.entity.Review">
    <selectKey keyProperty="reviewUuid" order="AFTER" resultType="byte[]">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into Review (movie_id, helpfulness, profile_name, 
      score, time, user_id, summary, 
      text)
    values (#{movieId,jdbcType=VARCHAR}, #{helpfulness,jdbcType=VARCHAR}, #{profileName,jdbcType=VARCHAR}, 
      #{score,jdbcType=REAL}, #{time,jdbcType=BIGINT}, #{userId,jdbcType=VARCHAR}, #{summary,jdbcType=LONGVARCHAR}, 
      #{text,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="edu.tongji.queryserver.entity.Review">
    update Review
    set movie_id = #{movieId,jdbcType=VARCHAR},
      helpfulness = #{helpfulness,jdbcType=VARCHAR},
      profile_name = #{profileName,jdbcType=VARCHAR},
      score = #{score,jdbcType=REAL},
      time = #{time,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=VARCHAR},
      summary = #{summary,jdbcType=LONGVARCHAR},
      text = #{text,jdbcType=LONGVARCHAR}
    where review_uuid = #{reviewUuid,jdbcType=BINARY}
  </update>
  <select id="selectByPrimaryKey" parameterType="byte[]" resultMap="BaseResultMap">
    select review_uuid, movie_id, helpfulness, profile_name, score, time, user_id, summary, 
    text
    from Review
    where review_uuid = #{reviewUuid,jdbcType=BINARY}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select review_uuid, movie_id, helpfulness, profile_name, score, time, user_id, summary, 
    text
    from Review
  </select>
</mapper>